*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: var(--margin-null);
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--color-black-light-color) 100%;
}

h1 {
  text-align: center;
  color: var(--color-white-color);
  line-height: 1.4;
  margin: var(--margin-null);
  letter-spacing: var(--letter-spacing-size);
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  letter-spacing: var(--letter-spacing-size);
}

strong {
  color: var(--color-primary-color);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
  width: min(1000px, 100%);
  margin: var(--margin-null) auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: var(--margin-null);
  padding: 10px;
  background-color: var(--color-primary-color);
  border-radius: var(--border-radius-small);
}

figcaption {
  color: var(--color-white-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-primary-color);
  color: var(--color-white-color);
}

a:hover,
a:focus-visible {
  background-color: var(--color-black-light-color);
  text-decoration: none;
}

mark {
  background-color: var(--color-primary-color);
  color: var(--color-white-color);
  border-radius: var(--border-radius-small);
  letter-spacing: var(--letter-spacing-size);
}

::selection {
  background-color: var(--color-black-light-color);
  color: var(--color-primary-color);
}

:root {
  --color-black-light-color: rgb(48, 48, 48);
  --color-primary-color: rgb(130, 54, 255);
  --color-white-color: rgb(255, 255, 255);
  --border-radius-small: 4px;
  --letter-spacing-size: 0.025em;
  --margin-null: 0;
}
